# Entornos virtuales de Python
venv/
backend/venv/
.env

# Bases de datos y Logs (¡OPSEC!)
*.db
*.sqlite
*.sqlite3
*.log
backend/security_coach.db
backend/security_coach.log

# Archivos compilados y temporales
__pycache__/
*.pyc
*.pyo

# Archivos comprimidos
*.zip